@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="d-flex w-100 align-items-center justify-content-center">
        <h3 class="m-auto">Dishes| <a href="/">Chefs</a></h3>
        <a href="/dishes/new" class="btn btn-info btn-outline-dark text-white">Add a Dish</a>
    </div>
    <div class="mt-2 mb-2">
        <h4>Take a look at our dishes!</h4>
        <hr class="bg-dark">
    </div>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Chef</th>
            <th>Tastiness</th>
            <th>Calories</th>
        </tr>
        @foreach(Dish d in ViewBag.AllDishes)
        {
            <tr>
                <td>@d.DishName</td>
                <td>@d.Creator.FirstName @d.Creator.LastName</td>
                <td>@d.Tastiness</td>
                <td>@d.Calories</td>
            </tr>
        }
    </table>
</div>